In [1]:
import pandas as pd

In [2]:
pd.Series([7,3,5,8])

0    7
1    3
2    5
3    8
dtype: int64

In [4]:
x = pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])

In [5]:
x[['서울','대구']]

서울    7
대구    3
dtype: int64

In [6]:
x.index

Index(['서울', '대구', '부산', '광주'], dtype='object')

In [7]:
x.values

array([7, 3, 5, 8], dtype=int64)

In [9]:
print(sorted(x.index))
print(sorted(x.values))

['광주', '대구', '부산', '서울']
[3, 5, 7, 8]

In [10]:
x = x.reindex(sorted(x.index))
x

광주    8
대구    3
부산    5
서울    7
dtype: int64

In [14]:
x = pd.Series([3,8,5,9], index=['서울','대구','부산','광주'])
y = pd.Series([2,4,5,1], index=['대구','부산','서울','대전'])
print(x+y)

광주     NaN
대구    10.0
대전     NaN
부산     9.0
서울     8.0
dtype: float64

In [15]:
names = ['a','b','c','d','e','f']
pdata = pd.Series(names)
print(pdata)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [18]:
a = pdata[3:6]
print(a.values)

['d' 'e' 'f']

In [21]:
print(a[2])

KeyError: 2

In [23]:
print(a)
print(a[3])

3    d
4    e
5    f
dtype: object
d

In [24]:
data = {'age' : [23,43,12,45],
       'name' : ['민준','현우','서현','동현'],
       'height' : [175.3,180.3,165.8,172.7]}
x = pd.DataFrame(data, columns = ['name', 'age', 'height'])
x

  name  age  height
0   민준   23   175.3
1   현우   43   180.3
2   서현   12   165.8
3   동현   45   172.7

In [25]:
x.name

0    민준
1    현우
2    서현
3    동현
Name: name, dtype: object

In [26]:
ary = [[1,2],[3,4],[5,6]]
data = pd.DataFrame(ary, columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6

In [27]:
data.iloc[1]

First     3
Second    4
Name: 1, dtype: int64

In [30]:
data.iloc[:, -1]

0    2
1    4
2    6
Name: Second, dtype: int64

In [32]:
ary = [[1,2],[3,4],[5,6],[7,8],[9,10]]
data = pd.DataFrame(ary, columns=['First','Second'])
bools = [False, True, True, False, True]
data.Second[bools]

1     4
2     6
4    10
Name: Second, dtype: int64

In [34]:
print(x.mean(axis=0))

age        30.750
height    173.525
dtype: float64

C:\Users\user13\AppData\Local\Temp\ipykernel_10808\1806538364.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(x.mean(axis=0))